:root {
    --azuloscuro1: #193441;
    --azulmedio1: #3E606F;
    --azuloscuro2: #0c2531;
    --azulclaro: #91AA9D;
    --gris1: #D1DBBD;
    --rojologo: #C64832;
    --cafelogo: #211915;
    --amarillologo: #F8E12E;
}

* {
    font-family: rubik;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: solid 1px red; */
    text-decoration: none;
}

header {
    display: flex;
    min-height: 15vh;
    background-color: #193441;
    box-shadow: 10px 5px 10px rgba(85, 64, 64, 0.87);
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
    margin-top: 0;
    margin-left: 0;
    padding-bottom: 65vh;
    background-image: url(./assets/design1_image2.jpg);
    object-fit: cover;
}


#tophead img {
    justify-self: flex-start;
    align-self: flex-start;
    height: 150px;
    width: 150px;
    object-fit: cover;
}

header h1 {
    color: aliceblue;
    font-size: 2.4rem;
    text-shadow: 3px 3px 1px var(--rojologo);
}

header nav {

    display: flex;
    flex-wrap: nowrap;
    justify-self: end;
    gap: 0.5rem;
    padding: 0.5rem;
    height: 150px;
    align-items: center;

}


nav>a {
    flex-wrap: nowrap;
    justify-content: space-evenly;
    flex-grow: 1;
    gap: 1rem;
    align-items: center;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: none;
    color: var(--amarillologo);
    text-shadow: 2px 2px 1px var(--rojologo);
    height: 30%;
    text-align: center;
    vertical-align: middle;
    outline: solid var(--amarillologo) 2px;
    box-shadow: 3px 3px 1px var(--rojologo);
    border-radius: 1rem;

}

nav>a:hover {
    color: var(--rojologo);
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.5);
    background-color: #5f9fa17a;
    border-radius: 1rem;
    text-shadow: 2px 2px 1px var(--amarillologo);
    outline: solid var(--rojologo) 2px;
    position: relative;
    transition: margin-right 4s ease-in-out;
}


nav>a[href="#"] {
    background-color: #193441ce;
    color: aliceblue;
    position: relative;
    outline: solid aliceblue 2px;
}

nav>a[href="#"]:hover {
    color: var(--rojologo);
    outline: solid var(--rojologo) 2px;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.5);
}

#tophead {
    align-items: center;
    display: flex;
    width: 100%;
    padding: 1rem;
    margin: 0;
    background-color: #3e606f56;
    justify-content: space-around;
    gap: 1rem;
    position: fixed;
    top: 0;
    box-shadow: 10px 5px 7px rgba(0, 0, 0, 0.37);
}

main {
    display: flex;
    min-height: 80vh;
    box-shadow: 10px 5px 10px rgba(85, 64, 64, 0.87);
    background-color: var(--cafelogo);
    width: 100%;
    min-height: 90vh;
    gap: 1rem;
    padding-bottom: 2rem;
}

body>div {
    background-color: var(--azulclaro);
    min-height: 5vh;
    color: var(--amarillologo);
    padding: 1rem;
    font-size: 2rem;
    text-shadow: 3px 2px 1px var(--rojologo);
    box-shadow: 10px 5px 10px rgba(85, 64, 64, 0.87);

}

aside {
    width: 30%;
    display: flex;
    height: 100%;
    background-color: var(--azuloscuro1);
    align-items: top;
    justify-content: center;
    border-radius: 0px 20px 20px 20px;
    flex-direction: column;
    flex-wrap: wrap;
    padding-inline-start: 1rem;
    gap: 2rem;
}

aside img {
    justify-content: space-evenly;
    margin: 1rem
}

.foto {
    width: 80%;
    height: 40vh;
    transition: scale 1s ease-out 0.5s;
    padding: 1 rem;
    border-radius: 0px 50% 100% 150%;
    object-fit: cover
}

.logo {
    width: 80%;
    height: 40vh;
    transition: scale 1s ease-out 0.5s;
    padding: 1 rem;
    object-fit: cover
}

aside>img:hover {
    transform: scale(1.2);
    ;
    margin-right: 10%;
    box-shadow: 5px 10px 5px var(--cafelogo);
}

.logo:hover {
    transform: none;
    box-shadow: none;
    border-radius: 0;
}


#principal {
    background-color: var(--azulmedio1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 1rem;
    margin: 1rem;
    width: 70%;
    gap: 2rem;
    padding: 1rem;
    flex-wrap: wrap;
}


article {
    margin-top: 1rem;
    border-radius: 1rem;
    background-color: #1934416e;
    padding: 1rem;
}


article>p {
    padding: 1rem;
    color: white;
    text-align: justify;
    text-indent: 2rem;
    font-size: 1rem;
    line-height: 1.8;
}


.mailto {
    text-shadow: 2px 2px 1px var(--azuloscuro2)
}

.mailto:hover {
    color: #810606;
    text-shadow: 1px 1px 1px var(--cafelogo);
}


article h3 {
    color: var(--amarillologo);
    text-shadow: 1px 1px 2px var(--rojologo);
    justify-content: flex-start;
    align-items: center;
    text-align: initial;
    font-size: 2rem;
    padding: 1rem;
}

#tmain {
    color: var(--amarillologo);
    text-shadow: 1px 1px 2px var(--rojologo);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
}

article h4 {
    color: var(--gris1);
    text-shadow: 1px 1px 2px var(--rojologo);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
}

strong {
    color: var(--amarillologo);
    text-shadow: 1px 1px 2px var(--rojologo)
}

.empty {
    display: none;
}

#arttable {
    display: inline-flex;
    flex-wrap: wrap;
    min-width: 60vw;
    justify-content: center;
    flex-direction: column;
}

#arttable table {
    align-items: center;
    justify-content: center;
    justify-self: center;
    margin: 1rem;
    text-align: center;
    margin-bottom: 2rem
}

#gamesinfo {
    padding: 1rem;
    color: white;
    text-align: justify;
    font-size: 1rem;
    line-height: 1.8;
}

#galeria {
    width: 70vw;
    display: flex;
    height: 90%;
    align-items: top;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    flex-direction: row;
    flex-wrap: wrap;
    padding-inline-start: 1rem;
    gap: 1rem;
    border-radius: 1rem;
    background-color: #91aa9db2;
}

#galeria>img {
    margin: 1rem;
    width: 20vw;
    height: 30vh;
    padding: 1 rem;
    border-radius: 1rem;
    object-fit: cover;
    display: inline-block;
    flex-wrap: nowrap;
}

#galeria img:hover {
    transform: scale(1.1);
    box-shadow: 5px 10px 5px var(--cafelogo);
    transition: scale 1s ease-out 0.5s;
}

footer {
    color: aliceblue;
    width: 100%;
    display: inline-flex;
    background-color: var(--azuloscuro2);
    min-height: 10vh;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 1rem;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
}

.footcontact {
    display: block;
    height: 50vh;
    width: 23vw;
    align-content: center;
    align-items: center;
}

footer>section {
    padding: 0.1rem;
    gap: 1rem;
    display: flex;
}

footer article {
    display: inline-block;
    gap: 1rem;
    padding: 1rem;
    align-items: top;
}

footer>h3,
footer>nav {
    text-align: end;
}

footer>p {
    text-align: center;
    border-top: solid 1px white;
    padding-top: 0.5rem;
}

#navfooter a {
    background-color: transparent;
    outline: none;
    box-shadow: none;
    color: white;
    text-shadow: none;
}